
<ion-header [translucent]="true" >
  <ion-toolbar class="top1">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Education of The Scholl</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <img class="top1" class="grande" src="../../assets/img/profe.png" alt="">

    <p class="texto">TODAY AND THE FUTURE</p>
  <p class="txt1">Is a movement and has point of view and practices whitch are sufficiently understood
    to be used in the media without further comment or explanation.
  </p>

       <p class="texto">Ivan Gati: <ion-icon name="call"></ion-icon> +1 917 364 8500</p>
       <p class="mmail"><ion-icon name="mail"></ion-icon> ivangati@aol.com</p>



</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
